.doc-container {
  background: #f8f8f8;
}

.document {
  margin: 0px auto;
  width: 800px;
  background: white;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}

.block {
  padding: 0px 20px;
  cursor: default;
  position: relative;

  &.selected {
    padding-left: 16px;
    border-left: 4px solid #6AF;
  }

  textarea {
    width: 90%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: #f8f8f8;
  }

  button {
    position: absolute;
    right: -25px;
    top: 5px;
  }
}
